<h1>Coucou ma Joy !</h1>

<p>
  Une petite photo de Keerah
</p>
<%= image_tag("keerah.jpg", :width => 341, :height => 326, :alt => "Keerah", :class => "round")%>
<p>
  Et un lien vers ton Facebook :
  <a href="https://www.facebook.com/joy.thomias">Facebook de Joy</a>.
</p>

<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %>